<div class="col-md-4 offset-4 mt-4 mb-4 card card-body">
    <form action="" [formGroup]="form" (ngSubmit)="loginData(form)">
        <h1 class="text-center text-white bg-warning">Add Movie</h1>
       
        <div class="form-group">
            <input type="text" name="title" id="title" class="form-control" placeholder="movie title..." formControlName = "title">
            <div *ngIf="title.touched && title.invalid">
                    <p class="text-danger" *ngIf="title.errors.required">this field is required</p>
                    </div>
               
        </div>
        <div class="form-group">
            <input type="url" name="imgurl" id="imgurl" class="form-control" placeholder="movie imgurl..." formControlName = "imgurl">
            <div *ngIf="imgurl.touched && imgurl.invalid">
                    <p class="text-danger" *ngIf="imgurl.errors.required">this field is required</p>
                    </div>
               
        </div>
        <div class="form-group">
            <textarea cols="30" rows="5" type="text" name="description" id="description" class="form-control" placeholder="movie description..." formControlName = "description"></textarea>
            <div *ngIf="description.touched && description.invalid">
                    <p class="text-danger" *ngIf="description.errors.required">this field is required</p>
                    </div>
               
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success float-right"[disabled]="form.invalid">Add Movie</button>
        </div>
    </form>
</div>