<br>
<br>
<h2 style="text-align: center;">LoginHere</h2>
<div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-danger" *ngIf='error'>{{error}}</div>
    <form #loginForm='ngForm' (ngSubmit)='login(loginForm)'>
        <input type="email" name="email" id="email" 
        placeholder="Enter Email"
        #email='ngModel' ngModel class="form-control mb-3">ss
        <input type="password" name="password" id="password"
        placeholder="Enter Password"
        #password='ngModel' ngModel class="form-control mb-3">
        <button class="btn btn-outline-dark" type="submit">Login</button>
    </form>
</div>


