<br>
<br>
<h2 style="text-align: center;">Add Book Here</h2>
<div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-danger" *ngIf='error'>{{error}}</div>
    <form #loginForm='ngForm' (ngSubmit)='login(loginForm)'>
        <input type="text" name="name" id="name"  placeholder="Enter Name"
        #name='ngModel' ngModel class="form-control mb-3">
        <input type="number" name="id" id="id"placeholder="Enter Id Number"
        #id='ngModel' ngModel class="form-control mb-3">
        <input type="text" name="name" id="name" placeholder="Enter Author Name"
        #authorname='ngModel' ngModel class="form-control mb-3">
        <button class="btn btn-outline-dark" type="submit">Login</button>
    </form>
</div>