<div class="container py-5" style="background:gainsboro">
    <div class="card" style="width: 600px; margin: auto;">
      <div class="card-header bg-primary text-white">
        <h4 class="text-uppercase text-center">Add Product</h4>
      </div>
      <div class="card-body">
        <div class="row">
  
          <div class="col-sm-6 col-md-6 col-xs-12">
                <form action="" #addProductForm="ngForm" (ngSubmit)="addProduct(addProductForm)" method="POST" role="form">
                    <div class="form-group mt-2">
                        <label for="pname">Product Name</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-book"></i>
                        </span>
                      </div>
                      <input type="text" name="pname" required minlength="3" placeholder="Enter Product name"  class="form-control" #pname="ngModel" ngModel>
                      <div *ngIf="pname.invalid && pname.touched">
                        <p *ngIf="pname.errors.required" class="text-danger">*This field is mandatory
                          <p *ngIf="pname.errors.minlength" class="text-danger">*This field accepts minimum
                            3 characters
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-2">
                    <label for="category">Product Category</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-book"></i>
                    </span>
                  </div>
                  <input type="text" name="category" required minlength="3" placeholder="Enter Product Category name"
                  class="form-control" #category="ngModel" ngModel>
                  <div *ngIf="category.invalid && category.touched">
                    <p *ngIf="category.errors.required" class="text-danger">*This field is mandatory
                      <p *ngIf="category.errors.minlength" class="text-danger">*This field accepts minimum
                        3 characters
                  </div>
                </div>
              </div>
              
              <div class="form-group mt-2">
                <label for="company">Product Company</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-book"></i>
                </span>
              </div>
              <input type="text" name="company" required minlength="3" placeholder="Enter Product Company name"
              class="form-control" #company="ngModel" ngModel>
              <div *ngIf="company.invalid && company.touched">
                <p *ngIf="company.errors.required" class="text-danger">*This field is mandatory
                  <p *ngIf="company.errors.minlength" class="text-danger">*This field accepts minimum
                    3 characters
              </div>
            </div>
          </div>

          
          <div class="form-group mt-2">
            <label for=" price">Product Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-book"></i>
            </span>
          </div>
          <input type="text" name="price" required minlength="1" placeholder="Enter Product Price"
          class="form-control" #price="ngModel" ngModel>
          <div *ngIf=" price.invalid && company.touched">
            <p *ngIf=" price.errors.required" class="text-danger">*This field is mandatory
              <p *ngIf=" price.errors.minlength" class="text-danger">*This field accepts minimum
                1 characters
          </div>
        </div>
      </div>

      
          
      <div class="form-group mt-2">
        <label for="quantity">Product Quantity</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-book"></i>
        </span>
      </div>
      <input type="text" name="quantity" required minlength="1" placeholder="Enter Product Price"
      class="form-control" #quantity="ngModel" ngModel>
      <div *ngIf="quantity.invalid && company.touched">
        <p *ngIf="quantity.errors.required" class="text-danger">*This field is mandatory
          <p *ngIf="quantity.errors.minlength" class="text-danger">*This field accepts minimum
            1 characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit"  class="btn btn-outline-primary rounded-0 float-right">Submit</button>
  </div>
</form>
</div>
</div>
  
      